.purple{
    color: #a333c8;
}

.bold{
    font-weight: bold;
}

.typed-text{
    font-size: 2.5rem;
}

button{
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #0056b3;
    margin-top: 1rem;
    align-self: center;
    align-self: center;
}


button:hover {
    background-color: #004494;
    transform: scale(1.05);
}